ul {
    justify-content: center;
    text-align: center;
    color:burlywood;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    list-style: none;
    position:relative;
    padding-left: 0px;
}
li{
    animation: move 5s infinite;
}
@keyframes move{
        25%{
        color:aquamarine;  
    }
    50%{
        color:brown;
    }
    75%{
        color:blueviolet;

        }
    }
#button{
    height: 40px;
    width:10rem;
    background-color:burlywood;
    cursor: pointer;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}
#button:hover{
    background-color:bisque;
    color: chocolate;
}
#label{
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    padding-left: 2rem;
}
#city{
    font-family:'Times New Roman', Times, serif;
    width: 15rem;
    height: 2rem;
    font-size:large;
    padding-left: 10px;
    margin-left: 2rem;
    margin-top: 10px;
}
.card{
    width:20rem;
    height: 15rem;
    margin-left: 1rem;
    margin-top: 7rem;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px black;
    background-color:seashell;
}
#result{
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-style: italic;
    font-size:2.5rem;
    margin-top: 4rem;
    color:darkcyan;
    text-decoration: overline underline 5px;
    text-underline-offset: 15px;
}
#temp{
    text-align: left;
    font-size: 1.7rem;
    font-family: cursive;
    color:darkblue;
    justify-content: center;
    padding-top: 4rem;
    padding-left: 0.5rem;
    line-height:4rem;
    
}

.sunny{
    margin-top: -37rem;
    margin-left: 60rem;
    position: fixed;
}
.tree{
    position:fixed;
    margin-left: 60rem;
    margin-top: -10rem;
}

.plant{
    margin-top:-9rem;
    margin-left: 2rem;
    position: fixed;
}

@media only screen and (min-width:300px) {
    #temp{
        padding-left: 3rem;
    }
    .card{
        width:25rem;
        margin-left: 3rem;
    }
    ul {
      letter-spacing: 10px;
    }
    #city{
        width:20rem;
    }
    .plant{
        display: none;
    }
    .sunny{
        margin-left: 19rem;
    }
}
@media only screen and (min-width:500px) {
    #temp{
        padding-left: 3rem;
    }
    .card{
        width:25rem;
        margin-left: 3rem;
    }
    ul {
      letter-spacing: 10px;
    }
    #city{
        width:20rem;
    }
    .plant{
        display: none;
    }
    .sunny{
        margin-left: 20rem;
    }
}
@media only screen and (min-width:600px){
    .card{
       
        margin-left: 7.5rem;
    }
    .plant{
        display: none;
    }
    .sunny{
        margin-left: 25rem;
    }
}
@media only screen and (min-width:700px) {
    #temp{
        padding-left: 5rem;
    }
    .card{
        width:35rem;
        margin-left: 6rem;
    }
    ul {
      letter-spacing: 10px;
    }
    #city{
        width:20rem;
    }
    .plant{
        display: none;
    }
    .sunny{
        margin-left: 30rem;
    }
}
@media only screen and (min-width:800px) {
    #temp{
        padding-left: 5rem;
    }
    .card{
        width:45rem;
        margin-left: 2rem;
    }
    ul {
      letter-spacing: 10px;
    }
    #city{
        width:40rem;
    }
    .plant{
        display: none;
    }
    .sunny{
        margin-left: 35rem;
    }
    .tree{
        margin-left:30rem;
    }
}
@media only screen and (min-width:900px) {
    #temp{
        padding-left: 5rem;
    }
    .card{
        width:45rem;
        margin-left: 6rem;
    }
    ul {
      letter-spacing: 10px;
    }
    #city{
        width:40rem;
    }
    .tree{
        margin-left: 35rem;
      }
    .sunny{
        margin-left: 45rem;
     }
    .plant{
        display:none;
    }
    
}
@media only screen and (min-width:1000px) {
    #temp{
        padding-left: 25rem;
    }
    .card{
        width:65rem;
        margin-left: 10rem;
    }
    ul {
      letter-spacing: 10px;
    }
    #city{
        width:40rem;
    }
    .tree{
      margin-left: 50rem;
    }
    .sunny{
       margin-left: 50rem;
   }
   .plant{
       display: block;
   }
}


@media only screen and (min-width:1200px) {
    #temp{
        padding-left: 30rem;
    }
    .card{
        width:45rem;
        margin-left: 25rem;
    }
    ul {
      letter-spacing: 15px;
    }
    #city{
        width:40rem;
    }
    .tree{
        margin-left: 60rem;
      }
     .sunny{
         margin-left: 65rem;
     }
    .plant{
        display:block;
    }
}